{% extends "glossary/base.html" %}

{% block content %}
	<div class="row">
		<div id="glossary_tabs" class="span12">
			<ul class="nav nav-tabs">
				<hr>
				{% for letter in alphabet %}
				<li class="{% if forloop.first %}active{% endif %}"><a href="#{{letter}}" data-toggle="tab">{{letter}}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for letter, terms in glossary.items %}
				<div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{letter}}">
					<div>
					<h3>{{letter.upper}}</h3>
					</div>
					<hr>
					{% for term in terms %}
					<dl>
						<dt>{{ term.term }}</dt>
						<dd>{{ term.definition }}</dd>
						<hr>
					</dl>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}